.button {
  @include button-base;

  &--primary {
    background-color: $color-accent;
    color: $color-secondary;
    border: none;

    &:hover {
      background-color: darken-color($color-accent, 10%);
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--secondary {
    background-color: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }

  &--full {
    width: 100%;
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}