/* Error: Undefined mixin.
 *   ,
 * 4 | /   @include tablet {
 * 5 | |     padding: spacing(8) 0;
 * 6 | \   }
 *   '
 *   components\_about.scss 4:3  @forward
 *   components\index.scss 1:1   @use
 *   main.scss 2:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c    @include tablet {\a 5 \2502  \2502      padding: spacing(8) 0;\a 6 \2502  \2514    }\a   \2575 \a   components\\_about.scss 4:3  @forward\a   components\\index.scss 1:1   @use\a   main.scss 2:1               root stylesheet";
}
