/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use 'utils' as *;
 *   | ^^^^^^^^^^^^^^^^^
 *   '
 *   _base.scss 1:1  @import
 *   main.scss 9:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use 'utils' as *;\d\a   \2502  ^^^^^^^^^^^^^^^^^\a   \2575 \a   _base.scss 1:1  @import\a   main.scss 9:9   root stylesheet";
}
