//- Hero section based on Figma design
section.hero(id="hero")
    .container
        .hero__inner
            .hero__content
                h1.hero__title Your senses.
                    br
                    | Set free.

            .hero__image
                img(src="images/hero-speakers.jpg" alt="Bang & Olufsen Speakers")