/* Error: Undefined variable.
 *    ,
 * 13 |   font-family: $font-main;
 *    |                ^^^^^^^^^^
 *    '
 *   _reset.scss 13:16  @forward
 *   index.scss 1:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 13 \2502    font-family: $font-main;\d\a    \2502                 ^^^^^^^^^^\a    \2575 \a   _reset.scss 13:16  @forward\a   index.scss 1:1     root stylesheet";
}
